@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body{
    padding: 0 20px;
    font-family: sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
hr {
    margin: 10px 0
}
img{
    max-height: 100%;
    max-width: 100%;
    min-height: 0;
    min-width: 0;
}
header img {
    size: auto;
    flex-basis: 100px;
    align-self: center; 
}
h1 {
    font-size: 4em;
}
h1, h2 {
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-style: normal;
}
h2 {
    color: #0363ee;
    font-size: 2.5em
}
#search {
    display: flex;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
    height: 5ch;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}
#searchbar {
    flex: 1 1 0px;
    border: none;
    font-size: 1.2em;
    min-width: 0;
}
#search button {
    flex: 0 1 50px;
    background-color: white;
    border-width: 0px 0px 0px 1px;
    overflow: hidden;
}
.recipe{
    border: 2px solid ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
}
.recipe-details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.tags {
    min-height: 0;
    flex: 1 1;
    font-size: 1.4em;
    border: 2px solid grey;
    border-radius: 2px;
    background-color: #eee;
    width: fit-content;
    max-height: fit-content;
    line-height: 0;
    padding: 0px 5px;
}
.recipe h2{
    line-height: 0;
    padding-top: 5px;
}
.desktop{
    display: none
}
footer {
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    justify-content: space-between;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social a {
    flex: 0 0 50px;
    margin: 20px 5px
}
@media screen and (min-width: 700px) {
    .desktop{
        display: inline;
    }
    .recipe {
        flex-direction: row;
        gap: 20px
    }
    footer {
        flex-direction: row;
    }
}