main{
    width: 800px;
    margin: 0 auto;
    font-size: 1.5em;
    border: 1px solid black;
    padding: 80px 100px

}
h1{
    text-align: center;
    letter-spacing: 0.1em
}

p{
    line-height: 1.5;
}
em{
    line-height: 4
}
ol{
    line-height: 1.5;
}
li{
    margin: 20px 0px
}
#logo{
    width: 25%;
    display:block;
    text-align: center;
}
img{
    margin: 50px auto;
}
hr{
    margin-top: 0;
    margin-bottom: 60px;
}
h2{
    line-height: 1;
    margin-bottom: 8px;
    color: #0165a3;
    font-size: 0.9em;
    text-align: center;
    letter-spacing: 0.15em;
}

